<app-header></app-header>
<div>
<a href=""> <img class="banner-principal" src="assets/img/banner_pilotos.png" alt="imagem"></a>
<div class="texto_banner">
  <div class="quadrado-texto">
    <a href="https://wa.me//5534991717008?text=Olá, tenho interesse em comprar uma máquina SodaStream"> Clique aqui e faça seu pedido pelo WhatsApp! </a>
  </div>
</div>

    <section class="ofertas">
        <div class="container_grid">
            <h2> Ofertas </h2>
            <div id="secao_produtos" class="secao_cards">
            </div>
        </div>
    </section>


    <app-footer></app-footer>
