<app-header></app-header>
    <section class="banner banner-f1">
        <div class="container_grid posicao_texto">
            <div class="texto_banner">
                <a href="https://wa.me//5534991717008?text=Olá, tenho interesse em comprar uma máquina SodaStream">Faça seu pedido pelo WhatsApp!</a>
            </div>
        </div>

    <section class="ofertas">
        <div class="container_grid">
            <h2> Ofertas </h2>
            <div id="secao_produtos" class="secao_cards">
            </div>
        </div>
    </section>


    <app-footer></app-footer>
