<app-header></app-header>
<main>
  <form (ngSubmit)="receberDados()">
      <div class="campo-label">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" placeholder="Ex.: email@email.com" [(ngModel)]="userModel.email">
      </div>

      <div class="campo-label">
          <label for="senha">Senha</label>
          <input type="password" name="password" id="senha" placeholder="Sua senha aqui..." [(ngModel)]="userModel.password">
      </div>

      <input id="botao-enviar" type="submit" value="Fazer Login">
      <!-- <button type="submit">Enviar</button> -->
  </form>
  <p id="msgErro" *ngIf="mensagem !='' "> {{mensagem}}</p>
  <a routerLink="">Home</a>"
</main>
