<footer>
  <div class="container_grid container_rodape">
      <div class="links_footer">
          <div>
              <h2> </h2>
              <ul>

              </ul>
          </div>

      </div>

      <div class="box_logo">
          <img class="logo" src="assets/img/logo.png" alt="Logo do site E-Players">
      </div>

          <div class="siganos">
              <h2>Siga-nos!</h2>
              <a href="#"><img src="assets/img/instagram 1.png" alt=""></a>
              <a href="#"><img src="assets/img/facebook 1.png" alt=""></a>
              <a href="#"><img src="assets/img/youtube.png" alt=""></a>
          </div>
      </div>
</footer>
