/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Titillium+Web:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container_grid{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

/* SEÇÂO OFERTAS */

.card{
  width: 215px;
  margin: 20px;
  box-shadow: 0 0 20px #000;
  background: linear-gradient(360deg, rgba(0,0,0,1) 0%, rgb(100, 100, 100) 100%);
  color: #ffffff;
  padding-bottom: 10px;
}

.card a{
  text-decoration: none;
  background-color: #C31616;
  padding: 7px 38px;
  border-radius: 10px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;

}

.card *:not(:first-child){
  margin: 5px 10px;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
